<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens</title>
    <link rel="stylesheet" href="/abacaxi/estilo.css"
    
</head>

<body>
    {{> header}}

    <div class="container">

        <aside class="menu">

            <ul>

                <li> <a href="/"> Home </a> </li>
                <li> <a href="/cad"> Novo post </a> </li>

            </ul>

        </aside>

        <section class="content">

            {{{body}}} 
            <!--Onde todas as rotas irão passar-->

        </section>

    </div>

    {{> footer}}
    
</body>

</html>