<!--Formulário--> 

<form action="/add" method="POST"> 
<!-- Rota e método de acesso a página -->

    <h1> Cadastro de Postagens </h1>
    <br> <br>
    <p> Titulo: </p>
    <input type="text" name="titulo">
    <br>
    <p> Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <br> <br>
    <button type="submit"> Cadastrar Postagem </button>

</form>